name: CI

on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  test:
    name: OS ${{ matrix.os }} Ruby ${{ matrix.ruby }} GR ${{ matrix.gr }}
    strategy:
      fail-fast: false
      matrix:
        gr: ["0.73.17", "system"]
        os: ["ubuntu", "macos", "windows"]
        ruby: ["3.2", "3.3", "3.4"]
        ubuntu_version: ["24.04"]
        exclude:
          - { os: windows, gr: "0.73.17" }
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Get official GR binary (ubuntu)
        if: ${{ matrix.gr != 'system' && matrix.os == 'ubuntu' }}
        run: |
          wget https://github.com/sciapp/gr/releases/download/v${{ matrix.gr }}/gr-${{ matrix.gr }}-Ubuntu-x86_64.tar.gz
          tar -xvf gr-${{ matrix.gr }}-Ubuntu-x86_64.tar.gz
      - name: Get official GR binary (macos)
        if: ${{ matrix.gr != 'system' && matrix.os == 'macos' }}
        run: |
          wget https://github.com/sciapp/gr/releases/download/v${{ matrix.gr }}/gr-${{ matrix.gr }}-Darwin-aarch64.tar.gz 
          tar -xvf gr-${{ matrix.gr }}-Darwin-aarch64.tar.gz
      - name: Setup OBS binary (ubuntu)
        if: ${{ matrix.gr == 'system' && matrix.os == 'ubuntu' }}
        run: |
          echo 'deb http://download.opensuse.org/repositories/science:/gr-framework/xUbuntu_${{ matrix.ubuntu_version }}/ /' |
            sudo tee /etc/apt/sources.list.d/science:gr-framework.list
          curl -fsSL https://download.opensuse.org/repositories/science:gr-framework/xUbuntu_${{ matrix.ubuntu_version }}/Release.key |
            gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/science_gr-framework.gpg > /dev/null
          sudo apt update -yq && sudo apt upgrade -yq
          sudo apt-get install -y gr
      - name: Set up Homebrew (macos)
        if: ${{ matrix.gr == 'system' && matrix.os == 'macos' }}
        run: |
          brew update
          brew install libgr
      - name: Test (official binary)
        if: matrix.gr != 'system'
        env:
          GRDIR: gr
          GKS_WSTYPE: 100
        run: bundle exec rake test
      - name: Test (packages)
        if: ${{ matrix.gr == 'system' && matrix.os != 'ubuntu' }}
        env:
          QT_QPA_PLATFORM: offscreen
        run: bundle exec rake test
      - name: Test (packages) (ubuntu)
        if: ${{ matrix.gr == 'system' && matrix.os == 'ubuntu' }}
        env:
          QT_QPA_PLATFORM: offscreen
          LD_PRELOAD: /usr/lib/x86_64-linux-gnu/libicuuc.so.74
          LD_LIBRARY_PATH: /usr/lib/x86_64-linux-gnu
          PKG_CONFIG_PATH: /usr/gr/lib/pkgconfig/
        run: bundle exec rake test
