name: CI

on:
  - push
  - pull_request

jobs:
  test:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: OS ${{ matrix.os }} Ruby ${{ matrix.ruby }} GR ${{ matrix.gr }}
    strategy:
      fail-fast: false
      matrix:
        gr: [ '0.54.0', 'system' ]
        os: [ 'ubuntu', 'macos', 'windows' ]
        ruby: [ '2.5', '2.6', '2.7', '3.0' ]
        exclude:
          - { os: windows , gr: '0.54.0' }
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Get official GR binary (ubuntu)
        if: ${{ matrix.gr != 'system' && matrix.os == 'ubuntu' }}
        run: |
          wget https://github.com/sciapp/gr/releases/download/v${{ matrix.gr }}/gr-${{ matrix.gr }}-Ubuntu-x86_64.tar.gz
          tar -xvf gr-${{ matrix.gr }}-Ubuntu-x86_64.tar.gz
      - name: Get official GR binary (macos)
        if: ${{ matrix.gr != 'system' && matrix.os == 'macos' }}
        run: |
          wget https://github.com/sciapp/gr/releases/download/v${{ matrix.gr }}/gr-${{ matrix.gr }}-Darwin-x86_64.tar.gz
          tar -xvf gr-${{ matrix.gr }}-Darwin-x86_64.tar.gz
      - name: Get official GR binary (ubuntu)
        if: ${{ matrix.gr == 'system' && matrix.os == 'ubuntu' }}
        run: |
          sudo apt install -y -V ca-certificates lsb-release wget
          wget https://packages.red-data-tools.org/$(lsb_release --id --short | tr 'A-Z' 'a-z')/red-data-tools-apt-source-latest-$(lsb_release --codename --short).deb
          sudo apt install -y -V ./red-data-tools-apt-source-latest-$(lsb_release --codename --short).deb
          sudo apt update
          sudo apt install libgrm-dev
      - name: Install gems
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
      - name: Test (official binary)
        if: matrix.gr != 'system'
        env:
          GRDIR: gr
        run: bundle exec rake test
      - name: Test (packages)
        if: matrix.gr == 'system'
        run: bundle exec rake test
