name: CI

on:
  - push
  - pull_request

jobs:
  test:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: ${{ matrix.os }} Ruby ${{ matrix.ruby }} gr ${{ matrix.gr }}
    strategy:
      fail-fast: false
      matrix:
        gr: [ '0.54.0' ]
        os: [ 'ubuntu', 'macos', 'windows' ]
        ruby: [ '2.5', '2.6', '2.7', '3.0' ]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Set up GR (ubuntu)
        if: matrix.os == 'ubuntu'
        run: |
          wget https://github.com/sciapp/gr/releases/download/v${{ matrix.gr }}/gr-${{ matrix.gr }}-Ubuntu-x86_64.tar.gz
          tar -xvf gr-${{ matrix.gr }}-Ubuntu-x86_64.tar.gz
      - name: Set up GR (macos)
        if: matrix.os == 'macos'
        run: |
          wget https://github.com/sciapp/gr/releases/download/v${{ matrix.gr }}/gr-${{ matrix.gr }}-Darwin-x86_64.tar.gz
          tar -xvf gr-${{ matrix.gr }}-Darwin-x86_64.tar.gz
      - name: Install gems
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
      - name: Test (ubuntu)
        if: matrix.os == 'ubuntu'
        env:
          GRDIR: gr
        run: bundle exec rake test
      - name: Test (macos)
        if: matrix.os == 'macos'
        env:
          GRDIR: gr
        run: bundle exec rake test
      - name: Test (windows)
        if: matrix.os == 'windows'
        run: bundle exec rake test
